/* ===== SECTION ===== */
.about {
  background: #ffffff;
  font-family: "Georgia", "Times New Roman", serif;
  color: #1a1a1a;
}

/* ========================= */
/* ABOUT TOP */
/* ========================= */

.about-top {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 60px;
  align-items: center;
  padding-left: 70px;
  padding-right:70px;
  padding-top:30px;
  padding-bottom: 20px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
}

.about-text p {
  line-height: 1.7;
  font-size: 15px;
  color: #444;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* ========================= */
/* VISION MISSION */
/* ========================= */

.vision-mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 30px;
  padding-left: 70px;
  padding-right:70px;
  padding-top:50px;
  padding-bottom: 20px;
}

.vision-mission h3 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 700;
}

.vision-mission p {
  font-size: 15px;
  line-height: 1.7;
  color: #444;
}

/* ========================= */
/* TEAM */
/* ========================= */

.team-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  justify-items: center;
  padding-left: 70px;
  padding-right:70px;
  padding-top:30px;
  padding-bottom: 20px;
}

/* CARD */

.team-card {
  text-align: center;
  max-width: 340px;
}

.team-card img {
  width: 170px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 18px;
}

.team-card h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

.role {
  font-weight: 600;
  margin-bottom: 10px;
}

.team-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* ========================= */
/* MOBILE RESPONSIVE */
/* ========================= */

@media (max-width: 768px) {

  /* ABOUT TOP */
  .about-top {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px 0;
    text-align: center;
  }

  .about-text h2 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 14px;
    padding: 0px 30px;
  }

  .about-image img {
    width: 100%;
    height: auto;
    padding: 0px 20px;
    border-radius: 10%;
  }

  /* VISION & MISSION */
  .vision-mission {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 30px 0;
    text-align: center;
  }

  .vision-mission h3 {
    font-size: 22px;
  }

  .vision-mission p {
    font-size: 14px;
    padding: 0px 30px;
  }

  /* TEAM */
  .team-title {
    font-size: 24px;
  }

  .team-grid {
    grid-template-columns: 1fr;
    gap: 35px;
    padding: 20px 0;
  }

  .team-card {
    max-width: 100%;
    padding: 0px 30px;
  }

  .team-card img {
    width: 140px;
    height: 170px;
    border-radius: 50%;
  }

  .team-card h4 {
    font-size: 15px;
  }

  .team-card p {
    font-size: 13px;
  }
}

