/* ===== SECTION ===== */
.about {
  background: #ffffff;
  font-family: "Georgia", "Times New Roman", serif;
  color: #1a1a1a;
}

/* ========================= */
/* ABOUT TOP */
/* ========================= */

.about-top {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 60px;
  align-items: center;
  padding-left: 70px;
  padding-right:70px;
  padding-top:30px;
  padding-bottom: 20px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
}

.about-text p {
  line-height: 1.7;
  font-size: 15px;
  color: #444;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* ========================= */
/* VISION MISSION */
/* ========================= */

.vision-mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 30px;
  padding-left: 70px;
  padding-right:70px;
  padding-top:50px;
  padding-bottom: 20px;
}

.vision-mission h3 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 700;
}

.vision-mission p {
  font-size: 15px;
  line-height: 1.7;
  color: #444;
}

/* ========================= */
/* TEAM */
/* ========================= */

.team-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  justify-items: center;
  padding-left: 70px;
  padding-right:70px;
  padding-top:30px;
  padding-bottom: 20px;
}

/* CARD */

.team-card {
  text-align: center;
  max-width: 340px;
}

.team-card img {
  width: 170px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 18px;
}

.team-card h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

.role {
  font-weight: 600;
  margin-bottom: 10px;
}

.team-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width: 768px) {
  .about {
    padding: 40px 25px;
  }

  .about-top,
  .vision-mission,
  .team-grid {
    grid-template-columns: 1fr;
  }

  .about-top{
    padding: 30px 20px;
  }

  .team-grid {
    gap: 40px;
  }
}
