/* Login Page Styles */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 380px;
    margin:0 400px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .forgot-password-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2563eb;
  }
  
  .forgot-password-input {
    width: 90%;
    padding: 10px;
    color:black;
    background-color: rgb(255, 255, 255);
    margin-bottom: 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    transition: border 0.3s ease-in-out;
  }
  
  .forgot-password-input:focus {
    border: 1px solid #2563eb;
    outline: none;
  }

  .forgot-password-button {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
  }
  
  .forgot-password-button:hover {
    background-color: #1e40af;
    transform: scale(1.02);
  }

  .forgot-password-link:hover{
    color: #1e40af;
    text-decoration: underline;
}
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-align: center;
  }
  
  /* OTP container */
.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 12px 0;
}

/* individual box */
.otp-box {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  outline: none;
  transition: 0.2s;
}

.otp-box:focus {
  border: 1px solid #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
